html {
  box-sizing: border-box;
}
  
  *, *:before, *:after {
  box-sizing: inherit;
}

.header p, nav {
  font-family: 'Noto Serif Display';
  font-weight: 900;
}

.header nav ul {
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}

@media screen and (max-width: 500px) {

  .container {
    margin: 20px;
    background-color: blanchedalmond;
    border: solid rgba(0, 17, 255, 0.561) 2px ;
  }

  .header p {
    color: rgba(0, 17, 255, 0.561);
    text-align: center;
    font-size: 25px;
    
  }

  h2 {
    font-size: medium;
    margin: 0;
  }

  aside {
    margin: 10px;
    text-align: center;
  }
 
  .aside-one ul {
    padding: 0;
    list-style: none;
  }
    
  .aside-two ul {
    padding: 0;
    list-style: none;
  }
  
  h1 {
    text-align: center;
    font-size: large;
  }

  .main-content p {
    padding: 0 10px;
    text-align: justify;
  }

  footer {
    text-align: center;
    font-size: small;
  }
  footer p {
    padding: 0 50px;
    text-align: center;
  }
}

@media screen and (min-width: 501px) and (max-width: 900px) {
  .container {
    margin: 30px;
    background-color: rgba(255, 205, 236, 0.966);
    border: solid rgb(47, 0, 255) 2px ;
  }

  .header p {
    color: rgb(2, 1, 26);
    text-align: center;
    font-size: 35px;
    font-weight: 900;
  }

  #asides {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
  }

  .aside-one ul {
    padding: 0;
    text-align: left;
    list-style: none;
  }

  .aside-one h2 {
    padding: 0;
    text-align: left;
    list-style: none;
  }
    
  .aside-two ul, h2 {
    padding: 0;
    text-align: right;
    list-style: none;
  }

  .aside-two {
    align-self: center;
  }
  
  h1 {
    text-align: center;
    font-size: large;
  }

  .main-content p {
    padding: 0 30px;
    text-align: justify;
    font-size: 20px;
  }

  footer {
    text-align: center;
    font-size: small;
  }
  footer p {
    padding: 0 50px;
    text-align: center;
  }
}

@media screen and (min-width: 901px) {
  .container {
    margin: 30px;
    background-color: bisque;
    border: solid rgb(10, 0, 53) 2px ;
  }
  .header p {
    color: rgb(2, 1, 26);
    text-align: center;
    font-size: 60px;
    font-weight: 900;
  }

  .header nav ul {
    font-size: x-large;
  }

  #asides {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    margin: 20px;
  }

  .aside-one ul {
    padding: 0;
    font-size: x-large;
    text-align: left;
    list-style: none;
  }

  .aside-one h2 {
    padding: 0;
    text-align: left;
    list-style: none;
  }
    
  .aside-two ul, h2 {
    padding: 0;
    font-size: x-large;
    text-align: right;
    list-style: none;
  }

  .aside-two {
    align-self: center;
  }
  
  h1 {
    text-align: center;
    font-size: xx-large;
  }

  .main-content p {
    padding: 0 30px;
    text-align: justify;
    font-size: 35px;
  }

  footer {
    text-align: center;
    font-size: medium;
    margin: 50px;
  }
  footer p {
    padding: 0 50px;
    text-align: center;
    font-size: 25px;
  }
}