body {
    font-size: 16px;
  }

  h1 {
      color: orange;
      font-size: 65px;
      font-family: sans-serif;
  }

  
 .list_color {
      background-color: powderblue;
  }

  p {
    font-weight: 600;
    font-size: 3em;
  }
 
  #yellow {
    background-color: yellow;
  }

  #red {
    background-color: tomato;
  }

  #brown {
    background-color: SaddleBrown;
  }