.card {
  background-color: bisque;
  color: blueviolet;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}

.header {
  font-weight: 900;
  background-color: azure;
  color: crimson;
  text-align: center;
}

.footer {
  height: 50px;
  background-color: azure;
  color: crimson;
  text-align: center;
}
